:root {
  --color1: #657ba6;
  --color2: #735d36;
  --color3: #c2b78a;
  --color4: #1d1e21;
  --color5: #ebeff2;
}

* {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--color4);
  color: var(--color5);
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/** TITULO */
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-names {
  display: flex;
  flex-direction: column;
}

.title-logo {
  height: 3em;
  margin-right: 1em;
}
/** Fin TITULO  */


/** NAVBAR */
nav {
  margin: 1em 0;
}

nav a {
  text-decoration: none;
  margin: 1em;
  transition: color 0.4s;
}

nav a:hover{
  color: var(--color3);
  /* background-color: var(--color3); */
}
/** Fin NABVAR */


@media (max-width: 607px) {
  header {
    flex-direction: column;
  }

  .title-logo {
    height: 3em;
    margin-right: 1em;
  }
}

@media (min-width: 608px) {
  header {
    flex-direction: row;
  }

  .title {
    margin: 1em 1em;
  }
}

#banner-image {
  width: 100%;
}

section {
  padding: 2em;
}

/* * Servicios */
.accordion {
    cursor: pointer;
    padding: 1em;
    width: 12em;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
  }

  .accordion::after {
    content: '\02795';
    font-size: 1em;
    float: right;
    margin-left: 5px;
  }
  
  .active::after {
    content: "\2796";
  }
  /** Fin SERVICIOS */


  /** CONTACTO */
  input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 1em;
    color: var(--color4);
    background-color: var(--color5);
    border: 1px solid var(--color4);
    border-radius: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  input[type=submit] {
    background-color: var(--color2);
    color: var(--color5);
    padding: 12px 20px;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
  }
  
  input[type=submit]:hover {
    background-color: var(--color1);
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }
  /** Fin CONTACTO */