:root {
  --color1: #657ba6;
  --color2: #735d36;
  --color3: #c2b78a;
  --color4: #1d1e21;
  --color5: #ebeff2;
  --translucido: #f1f1f1b3;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color4);
  color: var(--color5);
}

section {
  /* padding: 2em; */
  background-color: var(--color4);
  color: var(--color5);
}


/** TITULO */
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-names {
  display: flex;
  flex-direction: column;
}

.title-logo {
  height: 3em;
  margin-right: 1em;
}
/** Fin TITULO  */



/** NAVBAR */
nav {
  margin: 1em 0;
}

nav a {
  text-decoration: none;
  margin: 1em;
  transition: color 0.4s;
  color: var(--color5);
}

nav a:hover {
  color: var(--color3);
}
/** Fin NABVAR */


/** BANNER */

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/legal2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "text text text"
  "form form form";
}

.banner-item{
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
}

#sub {
  grid-area: text;
  color: var(--color5);
  margin: auto;
  width: 100%;
}

.banner-item-titulos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.banner-item-titulos p{
  margin: 1em;
}

/** Fin BANNER */


/** CONTACTO */

#form-contacto {
  background-color: var(--translucido);
  grid-area: form;
}

#form-contacto label {
  color: var(--color4);
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 1em;
  color: var(--color4);
  background-color: var(--color5);
  border: 0px solid;
  border-radius: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type="submit"] {
  color: var(--color5);
  background-color: var(--color2);
  padding: 12px 20px;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s;
}

input[type="submit"]:hover {
  background-color: var(--color1);
}
/** Fin CONTACTO */


/** NOSOTROS */
#nosotros{
  padding: 2em;
}
#nosotros p{
  margin: 1em;
  line-height: 1.5em;
  font-size: 1.25em;
  text-align: justify;
}

.texto{
  display: grid;
}
/** Fin NOSOTROS */


/* * SERVICIOS */
#servicios{
  color: var(--color5);
  padding: 2em;
}

.servicios-detalle{
  padding: 3em;
}

.accordion {
  background-color: var(--color4);
  color: var(--color3);
  font-size: large;
  cursor: pointer;
  padding: 1em;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}

.panel ul{
  list-style-type: none;
  margin: 0;
}

.panel ul li{
  padding: 0.5em;
}

.accordion::after {
  content: "\02795";
  font-size: 1em;
  float: right;
  margin-left: 5px;
}

.active::after {
  content: "\2796";
}
/** Fin SERVICIOS */


/** MAPA  */
iframe{ 
  width: 100vw;
  height: 20em;
}
/** Fin MAPA */


footer {
  background-color: var(--color4);
  color: var(--color5);
}

/** RESPONSIVE */
@media (max-width: 607px) {
  header {
    flex-direction: column;
  }

  .title-logo {
    height: 3em;
    margin-right: 1em;
  }

  #banner {
    flex-direction: column;
  }

  #sub{
    font-size: 1.2em;
  }
  .texto{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 608px) {
  header {
    flex-direction: row;
  }

  .title {
    margin: 1em 1em;
  }

  .banner {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "text form"
    "text form";
  }

  #sub{
    font-size: 1.2rem;
  }

  .texto{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 925px) {
  .banner {
    grid-template-columns: 2fr 1fr;
  }

  #sub{
    font-size: 2rem;
  }
  .texto{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/** Fin RESPONSIVE */